<div class="container mt-5">
    <h1>About</h1>
    <p>     We at about:content strive to prepare your company for the digital future of tomorrow. Open the door with us to revolutionary
       cloud solutions and modern enterprise content management. Regardless of whether you are planning to set up a new website or a cloud-based
       microservice platform for processing gigantic amounts of data - we are at your side to advice and implement. </p> <p>From consulting on architecture,
       security and compliance to the development of the  finished product, we can offer you tailor-made services to help you achieve your goal.
       Everyday we are facing new solutions and best-practices on the market that are worth sharing. In our blog we release some of the highlights to 
       share our knowledge with other developers.
       </p>
</div>
