<div class="banner">
    <div class="banner-item">
        <h1>Fresh Cooked Food<br>At Your  Door.</h1>
         <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>     
</div>
 
<div class="container mb-3">
    <h1>How to get <span>fresh food</span></h1>
     <div class="row">
        <div class="col-lg-4">
            <div class="step-box">
             <h1>1</h1>
             <h5>select food</h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-box">
              <h1>2</h1>
              <h5>fill the details</h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-box">
              <h1>3</h1>
              <h5>your order delivered in minute</h5>
            </div>
        </div>
     </div>
</div>



